@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-CondBold.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-CondLight.ttf');
}

.open-sans-bold {
    font-family: 'Open Sans Bold', sans-serif;
}

.open-sans-light {
    font-family: 'Open Sans Light', sans-serif;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-1 {
    margin-top: 1%;
}

.m-t-2 {
    margin-top: 2%;
}

.m-t-5 {
    margin-top: 5%;
}

.m-t-15 {
    margin-top: 15%;
}

.m-b-1 {
    margin-bottom: 1%;
}

.m-b-4 {
    margin-bottom: 4%;
}

.p-b-1 {
    padding-bottom: 1%;
}

.p-5 {
    padding: 5%;
}

.p-3 {
    padding: 3%;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-t-5 {
    padding-top: 5%;
}

.p-t-1 {
    padding-top: 1%;
}

.p-b-5 {
    padding-bottom: 5%;
}

.m-b-2 {
    margin-bottom: 2%;
}

.m-l-1 {
    margin-left: 1%;
}

.m-l-2 {
    margin-left: 2%;
}

.p-b-2 {
    padding-bottom: 2%;
}

.m-b-5 {
    margin-bottom: 5%;
}

.w-100 {
    width: 100%;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-100 {
    height: 100%;
}

.h-auto {
    height: auto;
}

.w-auto {
    width: auto;
}

.max-height-500 {
    max-height: 500px;
}

.height-200 {
    height: 200px;
}

.height-250 {
    height: 250px;
}

.height-300 {
    height: 300px;
}

.img-header {
    background-size: contain !important;
    background: url('../img/rsz_elitefonru-18013__.jpg') no-repeat center;
    opacity: 0.83;
}

.text-size-14 {
    font-size: 14pt;
}

.text-size-13 {
    font-size: 13pt;
}

.text-size-12 {
    font-size: 12pt;
}

.text-size-11 {
    font-size: 11pt;
}

.text-color-whitesmoke {
    color: whitesmoke !important;
}

.tag-label-color {
    color: #bbbbbb;
}

.disable-tag-label-color {
    background-color: transparent;
}

.text-size-10 {
    font-size: 10pt !important;
}

.text-size-8 {
    font-size: 8pt !important;
}

.float-none {
    float: none;
}

.panel-footer-p {
    padding: 10px 25px;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.underline {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer {
    flex: 1 1 auto;
    background-color: #122b40;
    color: whitesmoke;
    height: 77px;
}

.least-content-u {
    position: absolute;
    right: 16px;
    top: 20px;
    color: rgba(0, 0, 0, .54);
    font-size: 14px
}

.article-block:hover > .article-title {
    color: #4F9F88;
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-transition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background 1s ease-in;
}

.summary-text:hover > .summary-text-color {
    color: #aea3a1;
}

.label-tag:hover {
    color: #919191;
    transition: color .6s ease-out, background 1s ease-in;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.cursor-hand {
    cursor: pointer;
    cursor: hand;
}

.cursor-hand-disable {
    cursor: default;
}

.icon-color {
    color: #53a890;
}

.summary-text-color {
    color: #B7ACAA !important;
}

.color-lightcoral {
    color: lightcoral;
}

.navbar.navbar-inverse {
    background-color: #FFFFFF;
    color: darkgray;
}

.about-color {
    background-color: #f2f5f7;
}

.header-background-color {
    background-color: rgb(0, 0, 0) !important;
}

/* header */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

html, body {
    margin: 0;
    height: 120%;
    font-family: 'Josefin Sans', sans-serif;

}

.header {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 50vw;
    min-height: 400px;
    max-height: 550px;
    min-width: 300px;
    color: #eee;
}

.header:after {
    content: "";
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(27, 32, 48, 1) 100%);
}

.header:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    background: #1B2030 url(https://unsplash.it/1999/999?image=1063) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: grow 60s linear 10ms infinite;
    transition: all 0.2s ease-in-out;
    z-index: -2
}

.header a {
    color: #eee
}

.menu {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none
}

.menu:after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #fff;
    position: absolute;
    margin: 0 auto;
    top: 5px;
    left: 0;
    right: 0;
    box-shadow: 0 8px, 0 16px
}

.logo {
    border: 2px solid #fff;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1.2em;
    box-sizing: border-box
}

.sides, .info {
    flex: 0 0 auto;
    width: 50%
}

.info {
    width: 100%;
    padding: 15% 10% 0 10%;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}

.author {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('../../assets/img/myfoto.jpg') center no-repeat;
    background-size: cover;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px
}

.info h4, .meta {
    font-size: 0.7em
}

.meta {
    font-style: italic;
}

@keyframes grow {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
}

.header-text {
    color: floralwhite;
}

/* scroll to top */
.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.scroll {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #b2b2b2;
    background: rgba(178, 178, 178, 0.7);
    padding: 20px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scroll:hover {
    background: rgba(178, 178, 178, 1.0);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.scroll:hover .fa {
    padding-top: -10px;
}

.scroll .fa {
    font-size: 30px;
    margin-top: -5px;
    margin-left: 1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.block-list {
    margin-top: 5%;
}