<div class="container col-lg-12 m-t-5 m-b-2">

    <div class="row m-b-5">
        <div *ngIf="articles.length !== 0">
            <div *ngFor="let key of articles.keys(hash)"
                 class="panel panel-default col-md-6 col-sm-9 col-xs-10 center-block float-none cursor-hand">
                <div class="panel-body article-block" [routerLink]="['/article', tagUrl]"
                     placement="right">
                    <h3 class="text-center text-uppercase article-title">{{articles[key].art.name}}</h3>
                    <div class="text-center small p-b-1">

                    </div>
                    <div class="p-b-4 p-t-5 text-size-13 summary-text">
                        <div class="text-justify summary-text-color"
                             [innerHTML]="articles[key].art.content"></div>
                    </div>
                </div>

                <div class="panel-footer-p cursor-hand-disable">
                    <div class="row">
                        <div class="pull-left">
                            <i class="fa fa-calendar icon-color" aria-hidden="true"></i>
                            <span class="summary-text-color">
                                <small> &#160;{{articles[key].art.createdAt | date: 'MMMM dd, yyyy'}}</small>
                            </span>
                        </div>
                        <div class="pull-right">
                            <i class="fa fa-tags icon-color" aria-hidden="true"></i>
                            <span *ngFor="let tag of articles[key].art.tags;"
                                  class="label-tag disable-tag-label-color tag-label-color cursor-hand"
                                  (click)="refresh()"
                                  [routerLink]="['/list-of-articles/tag', tag.id]">
                                   <small *ngIf="tagUrl === tag.id" class="icon-color">
                                       {{tag.name}}
                                   </small>
                                   <small *ngIf="tagUrl !== tag.id">
                                       {{tag.name}}
                                   </small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="articles.length === 0" class="article-block">
        <h4 class="text-center text-uppercase summary-text-color article-title">Loading...</h4>
    </div>

</div>

