<div class="container container-main">
  <div class="flex-center">
    <div class="well well-lg float-none row wow fadeIn col-lg-6" data-wow-delay="0.2s">

      <div class="form-group">
        <label class="control-label" for="login_input">Login</label>
        <input type="text" id="login_input"
               [(ngModel)]="login"
               [formControl]="createLoginForm.controls['login']">
        <div *ngIf="formErrors.login" class="form-error color-lightcoral">{{formErrors.login}}</div>

      </div>

      <div class="form-group">
        <label class="control-label" for="password_input">Password</label>
        <input type="password" id="password_input"
               [(ngModel)]="password"
               [formControl]="createLoginForm.controls['password']">
        <div *ngIf="formErrors.password" class="form-error color-lightcoral">{{formErrors.password}}</div>

      </div>
      <a (click)="onSubmit()" class="btn btn-raised btn-info">Submit</a>
    </div>
  </div>
</div>
