<div class="container col-lg-12 m-t-1 m-b-1">

    <div class="row m-b-2">
        <div *ngIf="articles.length !== 0">
            <div *ngFor="let article of articles"
                 class="panel panel-default col-md-6 col-sm-9 col-xs-10 center-block float-none cursor-hand">
                <!--<div class="panel-body article-block" [routerLink]="['/article', articles[key].art.id]"-->
                <div class="panel-body article-block"
                     [routerLink]="['/article', article.id]">
                    <h3 class="text-center text-uppercase article-title">{{article.name}}</h3>
                    <div class="text-center small p-b-1">

                    </div>
                    <div class="p-b-4 p-t-5 text-size-13 summary-text">
                        <div class="text-justify summary-text-color"
                             [innerHTML]="article.content"></div>
                    </div>
                </div>

                <div class="panel-footer-p cursor-hand-disable">
                    <div class="row">
                        <div class="pull-left">
                            <i class="fa fa-calendar icon-color" aria-hidden="true"></i>
                            <span class="summary-text-color">
                                <small> &#160;{{article.createdAt | date: 'MMMM dd, yyyy'}}</small>
                            </span>
                        </div>
                        <div class="pull-right">
                            <span *ngIf="article.tags.length > 0">
                            <i class="fa fa-tags icon-color" aria-hidden="true"></i>
                                <span *ngFor="let tag of article.tags;"
                                      class="label-tag disable-tag-label-color tag-label-color cursor-hand"
                                      [routerLink]="['/list-of-articles/tag', tag.id]">
                                   <small>{{tag.name}}</small>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- paginating -->
            <div *ngIf="pageTotal.length > 1">
                <div class="row">
                    <div class="col-md-7 col-xs-9 col-md-offset-5 col-sm-offset-5 col-xs-offset-3">
                        <div class="col-md-6 col-xs-12 col-md-offset-1">
                            <ul class="pagination pagination-sm">
                                <li [ngClass]="isFirst ? 'disabled' : ''">
                                    <a (click)="prevPage()">«</a>
                                </li>
                                <li *ngFor="let page of pageTotal; let index = index"
                                    [ngClass]="pageNo === index ? 'active' : ''">
                                    <a (click)="changePage(index)">{{ index + 1 }}</a>
                                </li>
                                <li [ngClass]="isLast ? 'disabled' : ''">
                                    <a (click)="nextPage()">»</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="articles.length === 0" class="article-block">
        <h4 class="text-center text-uppercase summary-text-color article-title">Loading...</h4>
    </div>
</div>