<!-- start main nav -->
<nav>
    <div class="navbar navbar-inverse m-b-0 navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-xs-7">
                        <div class="navbar-header header-brand">
                            <a class="navbar-brand text-uppercase font-weight-400" [routerLink]="['/']">Mariia Ostashevskaya</a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <ul class="nav navbar-nav navbar-right text-uppercase">
                            <li class="header-button hidden-xs"><a [routerLink]="['/']">Home</a></li>
                            <li class="header-button"><a [routerLink]="['/about']">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>
<!-- end main nav  -->

<!-- start header -->
<header class="m-t-0 p-b-1">

</header>
<!-- end header -->

