<!-- start main nav -->
<header>
    <div class="header">
        <div class="sides">
            <a [routerLink]="['/']" class="logo">BLOG</a>
        </div>
        <div class="sides">
            <a [routerLink]="['/about']" class="menu"></a>
        </div>
        <div class="info">
            <h4><a href="https://github.com/">My github</a></h4>
            <h1 class="header-text">Welcome to my blog</h1>
            <div class="meta">
                <a href="https://vk.com/" target="_b" class="author"></a><br>
                By <a href="https://vk.com/" target="_b">Mariia Ostashevskaya</a>, 2017
            </div>
        </div>
    </div>

</header>
<!-- end header -->

